@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
    --font-body: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
    --font-code: var(--font-mono), ui-monospace, monospace;
  }
}
